<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/styles/estilos.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark menu">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../../assets/img/logotipo.png" alt="logo" height="50" width="50">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    </header>
        <main>
            <section class="container my-5">
                <div class="row">
                    <div class="col-12 col-md-8">

                        <form class="botder rounded shadow p-5">

                            <div class="row">
                                <div class="col-6">
                                    <label class="form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="nombremedicamento">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Presentacion:</label>
                                    <input type="text" class="form-control" id="presentacionmedicamento">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6">
                                    <label class="form-label">Dosis:</label>
                                    <input type="number" class="form-control" id="dosismedicamento">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Laboratorio:</label>
                                    <input type="text" class="form-control" id="laboratoriomedicamento">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="form-label">Contraindicaciones:</label>
                                    <input type="text" class="form-control" id="contraindicacionesmedicamento">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Fecha Caducidad</label>
                                    <input type="date" class="form-control" id="fechacaducidad">
                                </div>                           
                            </div>
                            <div class="row my-3">
                                <div class="col-6">
                                    <label class="form-label">Registro INVIMA:</label>
                                    <input type="text" class="form-control" id="invima">
                                </div>                                       
                            </div>
                            <div class="row my-3">
                                <div class="mb-3 form-check ms-3">
                                    <input type="checkbox" class="form-check-input" id="copago">
                                    <label class="form-check-label">¿El medicamento tiene copago?</label>
                                </div>
                            </div>
                            <button class="btn btn-primary w-100" id="botonregistromedicamento">Registrar</button>
                        </form>

                    </div>
                    <div class="col-12 col-md-4 align-self-center">
                        <h3>Registra nuestros medicos</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, nihil commodi. Ratione, maxime reprehenderit. Iste, ipsum rem. Saepe ad rerum reiciendis similique quam dolore expedita, deserunt magni deleniti, placeat eveniet ipsum. Quas deserunt, perferendis dolorum dolorem eos molestias quidem culpa!
                        </p>
                        <img src="../../assets/img/medicamento.webp" alt="" class="img-fluid">
                    </div>
                </div>
            </section>

        </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controller/constroladorRegistros/controladorRegistroMedicamento.js"></script>
</body>